/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.example
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.htaccess.swp
/.htaccess
docker-compose.yml
Dockerfile
/nginx
/data
php.ini
/public/settings.json
*.log
gcp.json
.env.save
public/settings.json
/config/filesystems.php
/config/laravel-ffmpeg.php
composer.lock
!/composer.lock
/config/logging.php
.devdbrcc
